@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
  //colors
  --color-primary: #11474e;
  --color-not-primary: #208a98;
  --color-not-black: #242424;
  --color-secondary-text: #767676;
  --color-web-text-secondary: #5c5c5c;
  --color-white: #fdfdfd;
  --color-input: #f3f9fa;
  --color-input-hint: #a4b7ba;
  --color-another: #fda40b;
  --color-green: #1dbe72;
  --color-blue: #06cce7;
  --color-red: #ee604d;
  --color-link: #0084fd;
  --color-disabled: #e3e8e9;
  --color-mobile-line: #d1d9da;
  --color-app-bg: #f7f7f7;

  //text typography for mobile
  --text-h3-mobile: 1.5rem;
  --text-h2-mobile: 1.375rem;
  --text-h1-mobile: 1.25rem;
  --text-menu-title-mobile: 1rem;
  --body-large-mobile: 1rem;
  --body-medium-mobile: 0.875rem;
  --body-small-mobile: 0.75rem;

  //text typography for desktop
  --text-h2: 1rem;
  --text-h1: 2rem;
  --text-h2-medium: 1rem;
  --text-h3: 1.25rem;
  --text-boby-title: 1rem;
  --text-body: 1rem;

  //letter spacing for mobile
  --leading-h3-mobile: 1.25rem;
  --leading-h2-mobile: 1.25rem;
  --leading-h1-mobile: 1.25rem;
  --leading-body-large-mobile: 1.5rem;
  --leading-body-medium-mobile: 1.25rem;
  --leading-body-small-mobile: 1.063rem;

  //letter spacing for desktop
  --leading-h2: 1.25rem;
  --leading-h1: 1.25rem;
  --leading-h2-medium: 1.25rem;
  --leading-h3: 1.25rem;
  --leading-boby-title: 1.25rem;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}


